<config>
	<modules>
		<TK1_Dhlfix>
			<version>1.1.0</version>
		</TK1_Dhlfix>
	</modules>
	<global>
		<helpers>
			<dhlfix>
				<class>TK1_Dhlfix_Helper</class>
			</dhlfix>
			<intraship>
			  <rewrite>
				<data>TK1_Dhlfix_Helper_Data</data>
				<pdf>TK1_Dhlfix_Helper_Pdf</pdf>
			  </rewrite>
			</intraship>
		</helpers>
		<blocks>
			<dhlfix>
				<class>TK1_Dhlfix_Block</class>
			</dhlfix>
			<intraship>
			  <rewrite>
				<adminhtml_sales_shipment_edit_form>TK1_Dhlfix_Block_Adminhtml_Sales_Shipment_Edit_Form</adminhtml_sales_shipment_edit_form>
			  </rewrite>
			</intraship>
		</blocks>
	</global>
</config>