<config>
	<modules>
		<TK1_Dhlfix>
			<version>1.3.3</version>
		</TK1_Dhlfix>
	</modules>
	<global>
		<helpers>
			<dhlfix>
				<class>TK1_Dhlfix_Helper</class>
			</dhlfix>
			<intraship>
			  <rewrite>
				<data>TK1_Dhlfix_Helper_Data</data>
				<pdf>TK1_Dhlfix_Helper_Pdf</pdf>
			  </rewrite>
			</intraship>
		</helpers>
		<blocks>
			<dhlfix>
				<class>TK1_Dhlfix_Block</class>
			</dhlfix>
			<intraship>
			  <rewrite>
				<adminhtml_sales_shipment_edit_form>TK1_Dhlfix_Block_Adminhtml_Sales_Shipment_Edit_Form</adminhtml_sales_shipment_edit_form>
			  </rewrite>
			</intraship>
		</blocks>
		<models>
			<dhlfix>
				<class>TK1_Dhlfix_Model</class>
			</dhlfix>
			<intraship>
			  <rewrite>
				<soap_client_shipment_create>TK1_Dhlfix_Model_Soap_Client_Shipment_Create</soap_client_shipment_create>
			  </rewrite>
			</intraship>
			<sales>
                <rewrite>
                    <quote_address>TK1_Dhlfix_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
		</models>
	</global>
</config>